<!DOCTYPE html>
<html>
<head></head>
<body>

    <app-root></app-root>

    <script src="~/angularapp/dist/polyfills.js"></script>
    <script src="~/angularapp/dist/runtime.js"></script>
    <script src="~/angularapp/dist/styles.js"></script>
    <script src="~/angularapp/dist/vendor.js"></script>

    <script src="~/angularapp/dist/main.js"></script>

</body>

</html>
